/* originally authored by AlexCGDesign - https://alexcgdesign.com/blog/como-hacer-galeria-de-imagenes-adaptables-a-dispositivos-moviles-con-html-y-css-efecto-overlay-💻/ */
/* originally authored by SLeeDw20 - https://github.com/SLeeDw20/efecto-hover-img */

/*===================SECCION BANNER==========================*/

#seccion-banner {
  /* width: 100%;
  height: 350px; */
  /* overflow: hidden; */
  position: relative;
}

#seccion-banner .contenido-banner {
  /* display: grid;
  place-items: center; */

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 350px;
}

.contenido-banner img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.contenido-banner h1 {
  font-size: 120px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 4.3px;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.7);

  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/*===========================SECCION PRODUCTOS==================================*/

#seccion-productos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  background-color: #eff3ed;
}

#seccion-productos a {
  text-decoration: none;
}

.producto {
  margin: 25px;
}

.producto h3 {
  text-align: center;
  color: #fff;
  background-color: #1b4332;
  border-radius: 2em;
}

.producto img {
  /* width: 300px;
  height: 250px; */

  width: 90%;
  max-width: 300px;
  max-height: 250px;

  transition: 0.5s;
  /* margin: 30px; */

  display: block;
  margin: 50px auto;

  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

/* .producto p{
  text-align: center;
  font-size: 20px;
  color: #1b4332;
} */

.producto:hover > h1 {
  visibility: hidden;
}

.producto:hover > img {
  transform: scale(1.3);
  transition: 0.5s;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width: 1200px) {
  #seccion-banner .contenido-banner h1 {
    font-size: 110px;
  }

  .producto h1 {
    font-size: 25px;
  }

  .producto img {
    width: 250px;
    height: 200px;
  }

  /* .modal__img{
    width: 250px;
    height: 200px;
  } */
}

/*=========================MEDIA QUERIES PANTALLA SM================================*/

@media (max-width: 825px) {
  /* #seccion-banner{ text-align: center; height: auto!important; background-size: cover!important;  background-attachment: fixed!important; background-position: center center!important} */

  #seccion-banner .contenido-banner h1 {
    font-size: 100px;
  }
}

@media (max-width: 768px) {
  #seccion-banner .contenido-banner h1 {
    font-size: 80px;
  }

  /* .modal__container{
    padding: 2em 1.5em;
  }

  .modal__title{
    font-size: 2rem;
  } */
}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
  #seccion-banner .contenido-banner {
    height: 200px;
  }

  #seccion-banner .contenido-banner h1 {
    font-size: 40px;
  }

  .producto h1 {
    font-size: 20px;
  }

  .producto img {
    width: 150px;
    height: 125px;
  }

  /* .modal__img{
    width: 150px;
    height: 125px;
  } */
}
